.card {
    margin: 20px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 { 
    color: #353535;
    font-family: "Krona One", sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    margin: 20px 20px 0 20px;
}

h4 {
    margin-top: 6px;
    font-size: 14px;
    font-family: "Lato", sans-serif;
}

.product_image {
    width: 90%;

}