.contain_image {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    padding: 0 5vw 0 5vw;
    border-bottom: 1px solid #ededef;
    background-color: #ffffff;
}

.desktop_menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 35%;
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.desktop_menu li {
    padding-left: 30px;
}

.dropdown:hover .about_menu{
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    position: absolute;
    top: -6px;
    left: 34px;
    padding-top: 36px;
    width: 100px;
    z-index: 1;
}

.about_menu li {
    padding: 0 30px 0 10px;
    text-align: left;
    line-height: 40px;
    color: #353535;
}

.dropdown {
    position: relative;
}

.dropdown > span {
    z-index: 2;
    position: relative;
    cursor: pointer;
}

.about_menu {
    display: none;
}

@media (min-width: 800px) {
    .mobile_menu {
        display: none;
    }

    .contain_image img {
        display: none;
    }
}

@media (max-width: 800px) {
    .desktop_menu {
        display: none;
    }
}
